.showcase {
  background: url('https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2.0,f_auto,g_xy_center,h_650,q_auto:good,w_2560,x_w_mul_0.5,y_h_mul_0.0/v1/gcs/platform-data-salesforce/chapter_banners/2018%2008%20-%20BEVY%20-%20Group%20Event%20Banners%20v03_Group%20Banner%20-%20Data.png?lg');
  color: #032e61 ;
  background-position: 50% 50%;
  height: 360px;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.showcase::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.7); */
}

.showcase * {
  z-index: 20;
}

.showcase h1 {
  font-size: 40px;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .showcase h1 {
    font-size: 38px;
  }
}